<?xml version="1.0"?>
<config>
    <modules>
        <Pict_FeedBuilder>
            <version>1.0.0</version>
        </Pict_FeedBuilder>
    </modules>
    <frontend>
        <routers>
            <pict>
                <use>standard</use>
                <args>
                    <module>Pict_FeedBuilder</module>
                    <frontName>pict</frontName>
                </args>
            </pict>
        </routers>
        <!--        <layout>
            <updates>
                <pict>
                    <file>feedbuilder.xml</file>
                </pict>
            </updates>
        </layout>-->
    </frontend>
    <global>
        <helpers>
            <feedbuilder>
                <class>Pict_FeedBuilder_Helper</class>
            </feedbuilder>
        </helpers>
         
        <models>
            <feedbuilder>
                <class>Pict_FeedBuilder_Model</class>
               
            </feedbuilder>
            
        </models>
        
    </global>

   
    <default>
        <pict_extensions_section1>
            <pict_extensions_group1>                
                <!--                <user_name>Your User Name to Build Feed By URL</user_name>       -->
                <password>pict_secret_9081</password>       
                <!--                <feed_url>www.examplesite.com/index.php/feedbuilder/?username={username}&amp;password={password}</feed_url>       -->
                <!--                <user_email>Email Address</user_email>-->
                <!--                <is_feed_email_send>0</is_feed_email_send>          -->
            </pict_extensions_group1>
            <pict_extensions_group2>                
                <feild_delim>\t</feild_delim> 
                <field_enclosure>"</field_enclosure>
                <csv_filename_prefix>pict_feed_</csv_filename_prefix>      
                  
            </pict_extensions_group2>        
        </pict_extensions_section1>
    </default>
</config> 
